body{
    background : linear-gradient(135deg,#b990e5);
    font-family : Arial,sans-serif;
    display : flex;
    justify-content: center;
    margin-top : 50px;
}
.container{
    width : 500px;
    height : 400px;
    background : rgb(149, 230, 230);
    padding : 25px;
    border-radius : 25px;
}
h2{
    text-align: center;
    color : rgb(155, 5, 110);
}
select{
    width : 100%;
    padding : 10px;
    border-radius : 10px;
    border : 3px solid black;
    margin-bottom : 15px;
}
.btn{
    width : 50%;
    height : 50px;
    /* padding : 20px;
    padding-top : 5px; */
    background : rgb(6, 222, 6);
    color : black;
    border : none;
    border-radius : 8px;
    font-size : 15px;
    cursor : pointer;
    margin-left : 125px;
    text-align : center;
}
.btn:hover{
    background : #e3f280;
}
.option{
    padding : 12px;
    background : rgb(238, 195, 195) ;
    margin : 6px 0;
    border-radius: 8px;
    cursor : pointer;
    border : 3px solid transparent;
}
.option:hover{
    background : #ddd;
}
.selected{
    background : #d0ebff;
    border-color : #2575fc;
}
.hidden{
    display : none;
}
#result-screen {
    text-align : center;
}
